<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Register</title>
</head>
<body>
    <header>
        <nav>
              <div class="logo-buscar">
                <img id="logo" src="/img/logo-mercado-liebre.svg" alt="Logo mercado liebre"/>
                <!-- <ul id="nomostrar">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/product">Products</a>
                  </li>
                </ul> -->
                <form>
                  <input type="text" name="buscar" id="buscar" placeholder="Buscar productos marcas y más" required>
                  <button><i class="fa-solid fa-magnifying-glass"></i></button>
                  
                </form>
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
              </div>
            
            <div class="menu">
              <ul class="lista1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
              </ul>
    
              <ul class="lista2">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-cart-shopping"></i></li>
              </ul>
            </div>
            <div class="burger-menu">
              <button><i class="fa-solid fas fa-bars"></i></button>
              
            </div>
          </nav>
    </header>
    <main class="main-form">
        <h1>Fomulario</h1>
        <form action="/" method="post">
            <label for="user">Nombre de usuario</label>
            <input type="text" name="username" id="user" placeholder="Nombre de usuario" required>

            <label for="password">Contraseña</label>
            <input type="password" name="pass" id="password" placeholder="Contraseña" required >


            <!-- <input type="submit" value="Enviar"> -->
            <button type="submit">Enviar</button>
        </form>

    </main>
    <footer>
        <div class="elementos">
          <div>
            <i class="fa-solid fa-money-check-dollar"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>
              Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
              en puntos de pago. ¡Y siempre es seguro!
            </p>
    
          </div>
          <div>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>
              Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
              de productos. Es un beneficio de Mercado Puntos.
            </p>
    
          </div>
          <div>
    
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>
              ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
              hacer, porque estás siempre protegid@.
            </p>
          </div>
        </div>
        <br>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </footer>
</body>
</html>