@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Roboto:ital,wght@1,300&display=swap');
/* selector (etiqueta, clase o id){
    propiedad: valor
} */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    /* color: rgb(red, green, blue); */
    color:#03264C;
    font-size: 12px;    
}
main{
    text-align: center;
    width: 90vw;
    margin: auto;
}
header{
    border: solid 2px #666;
    color: #03264C;
    background-color:#EAC926;
}
footer{
    text-align: center;
    background-color: white;
}
footer .fa-solid{
    color: #1259c3;
}
a{
    text-decoration: none;
    color: black;
}
h2{
    font-size: 24px;
}
article{
    padding: 10px;
    background-color: white;
    margin: 10px;
    box-shadow: none;
}
button{
    background-color:#1259c3;
    color: white;
    border-radius: 4px;
}
ul{
    list-style: none;
}
img{
    width: 70vw;
}
.ultima-vista{
    padding: 10px
}
.precio{
    font-size: 18px;
}
.descuento{
    font-size: 16px;
    color:#39b54a;;
} 
.descripcion{
    font-size: 16px;
    display: none;
}
.menu{
    display:none;
}
.burger-menu {
    text-align: center;
    padding-bottom: 20px;
}
.fa-solid{
    font-size: 1rem;
    
}
.fa-truck-fast{
    color:#39b54a;
}
.detalle{
    border-top: solid 1px #ebebeb;
    padding: 15px;
}
#nomostrar{
    display: none;
}
@media (min-width: 361px ){
    /* tablets */
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descripcion{
        display:inline;
    }
    .burger-menu {
        display: none;
    }
    .menu{
        display:flex;
    }

}
@media (min-width: 769px){
    /* desktop */
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descripcion{
        display:inline;
    }
    .burger-menu {
        display: none;
    }
    .menu{
        display:flex;
    }
}
