@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Roboto:ital,wght@1,300&display=swap');
/* selector (etiqueta, clase o id){
    propiedad: valor
} */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    /* color: rgb(red, green, blue); */
    color:#03264C;
    font-size: 12px;    
}
main{
    text-align: center;
    width: 90%;
}
header{
    border: solid 2px #666;
    color: #03264C;
    background-color:#EAC926;
}
footer{
    text-align: center;
    background-color: white;
}
footer .fa-solid{
    color: #1259c3;
}
a{
    text-decoration: none;
}
h2{
    font-size: 24px;
}
article{
    padding: 10px;
    background-color: white;
}
.ultima-vista{
    padding: 10px
}
.precio{
    font-size: 18px;
}
.descuento{
    font-size: 16px;
    color:#39b54a;;
} 
.descripciones{
    font-size: 16px;
}
.burger-menu{
    background-color:#1259c3;
    text-align: center;
}
.fa-solid{
    font-size: 2rem;
    
}
.fa-truck-fast{
    color:#39b54a;
}
.detalle{
    border-top: solid 1px #ebebeb;
    padding: 15px;
}
